language: android
jdk: oraclejdk8

android:
  components:
    - platform-tools
    - tools
    - build-tools-26.0.2
    - android-24
    - extra-android-m2repository

deploy:
  provider: releases
  api-key: $GITHUB_API_KEY
  file: $HOME/openScale-dev-build.apk
  skip_cleanup: true
  name: "openScale dev build"
  body: "Automatically openScale dev build by Travis CI"
  prerelease: true
  overwrite: true

after_success:
 - chmod +x ./upload_apk.sh
 - ./upload_apk.sh

script: cd android_app && ./gradlew assembleDebug
